<ul nz-menu nzMode="inline" class="sider-menu">
  <li nz-menu-item nzSelected><i nz-icon nzType="dashboard"></i>  Dashboard</li>
  <li nz-submenu nzOpen nzTitle="Administration" nzIcon="appstore">
    <ul>
      <li nz-menu-item><i nz-icon nzType="idcard" nzTheme="outline"></i> Admissions</li>
      <li nz-menu-item><i nz-icon nzType="book" nzTheme="outline"></i> Teachers</li>
      <li nz-menu-item><i nz-icon nzType="team" nzTheme="outline"></i> All Students</li>
      <li nz-menu-item><i nz-icon nzType="block" nzTheme="outline"></i> All Teachers</li>
      <li nz-menu-item><i nz-icon nzType="trophy" nzTheme="outline"></i> Promotion</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Finance" nzIcon="wallet">
    <ul>
      <li nz-menu-item><i nz-icon nzType="credit-card" nzTheme="outline"></i> Fees Payment</li>
      <li nz-menu-item><i nz-icon nzType="audit" nzTheme="outline"></i> Record Expenses</li>
      <li nz-menu-item><i nz-icon nzType="profile" nzTheme="outline"></i> Debtors Report</li>
      <li nz-menu-item><i nz-icon nzType="history" nzTheme="outline"></i> Daily Fees Report</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Academics" nzIcon="solution">
    <ul>
      <li nz-menu-item><i nz-icon nzType="form" nzTheme="outline"></i> Record Marks</li>
      <li nz-menu-item><i nz-icon nzType="check-square" nzTheme="outline"></i> Mark Attendance</li>
      <li nz-menu-item><i nz-icon nzType="file-pdf" nzTheme="outline"></i> Transcripts</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Settings" nzIcon="setting">
    <ul>
      <li nz-menu-item><i nz-icon nzType="apartment" nzTheme="outline"></i> Class Management</li>
      <li nz-menu-item><i nz-icon nzType="sort-ascending" nzTheme="outline"></i> Subjects Definition</li>
      <li nz-menu-item><i nz-icon nzType="ordered-list" nzTheme="outline"></i> Terms Definition</li>
    </ul>
  </li>        
</ul>